<!doctype html>
<html lang="en">

<head>
    <title>The Simpsons</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/1583/PNG/512/thesimpson_108050.png" type="image/x-icon">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="https://www.linkedin.com/in/monica-melgarejo-esquivel-2b1b39164/"> <i>created by </i><img src="https://img.icons8.com/doodle/256/linkedin--v2.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">Home</a>
                            </li>
                            
                            <!-- Other navigation links -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- <h3 class="text-center my-2 yellow"><a href="./index.html">home</a></h3> -->
            
        </header>
        <main class="episodes">
            <div class="row justify-content-center">
                <div class="title">
                    <h1 class="text-center my-8 cssFont_1">The Simpsons: season {{season}}</h1>
                    <h2 class="text-center my-8 yellow cssFont_1 mt-3"> Episodes</h2>
                </div>
                
                <div class="row" v-if="selectedEpisodes.length > 0">
                    <div class="col-md-4 d-flex justify-content-center" v-for="(episode, index) in selectedEpisodes">
                        <div class="card episode-card">
                            <img :src="episode.image? episode.image.original :'https://www.1zoom.me/big/93/70372-andross.jpg'" class="img-fluid" :alt="episode.number">
                            <div class="card-body">
                                <h5 class="card-title">{{  episode.number? episode.number: "not available"}} - {{episode.name? episode.name: "not available"}}</h5>
                                <h6 class="card-subtitle mb-2"><b>Episode air date:</b> {{ episode.airdate? episode.airdate: "not available" }}</h6>
                                <p class="card-text"><b>Resume:</b> {{ episode.summary? episode.summary: "not available" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="msj d-flex justify-content-center align-items-center flex-column mt-5">
                        <img src="https://fotografias.lasexta.com/clipping/cmsimages02/2017/11/12/722DD0B7-3582-4FE6-BC2B-0CE99BF7F26F/58.jpg" alt="Homer Simpson">
                        <h3 class="text-center my-3">Episodes not yet available...</h3>
                    </div>
                </div>
            </div>
            
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/script/main.js"></script>

</body>

</html>