<!doctype html>
<html lang="en">

<head>
    <title>The Simpsons</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 class="text-center my-5">The Simpsons: seasons and episodes</h1>
        </header>
        <main>
            <div class="row">
                <!-- ver si dejar el index -->
                <div class="col-md-4" v-for="(season,seasonIndex) in seasons" :key="season.id">
                    <div class="card season-card">

                        <img :src="season.image? season.image.original :'https://www.1zoom.me/big/93/70372-andross.jpg'"
                            class="img-fluid" :alt="season.number">
                        <div class="card-body">
                            <h5 class="card-title">Season: {{ season.number }}</h5>
                            <p class="card-text">Premiere: {{ season.premiereDate? season.premiereDate: "not available"}}</p>
                            <p class="card-text">Episodes: {{ season.episodeOrder? season.episodeOrder: "not available"}}</p>
                            <!-- button -->
                            <button class="btn btn-primary" @click="showEpisodes(seasonIndex)">Show episodes</button>
                            <!-- show episodes -->
                            <!-- <div class="collapse show" :id="'season' + index">
                                <ul class="list-group mt-2">
                                    <li class="list-group-item" v-for="(episode) in episodes"
                                        :key="episode.id">
                                        <h6>{{ episode.name ? episode.name: "not available" }}</h6>
                                        <p>{{ episode.summary ? episode.summary: "not available" }}</p>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal -->


            <div v-if="modalVisible" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="episodeModalLabel">Episodios de la temporada {{selectedSeason.number}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6" v-for="(episode, index) in selectedEpisodes">
                                <div class="card episode-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ episode.name? episode.name: "not available"}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ episode.airdate? episode.airdate: "not available" }}</h6>
                                        <p class="card-text">{{ episode.summary? episode.summary: "not available" }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer>
            <!-- place footer here -->
        </footer>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/script/main.js"></script>

</body>

</html>